.selected{
  color: #ff9000;
  border: 2px solid #ff9000;
  display: flex;
  align-items: center;
  background: #232129;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  margin-bottom: 8px;
}

.filled{
  color: #ff9000 !important;
}

.input-container{
  display: flex;
  align-items: center;
  background: #232129;
  border-radius: 10px;
  border: 2px solid #232129;
  padding: 16px;
  width: 100%;
  margin-bottom: 8px;
}

.input-container > svg{
  color: #666360;
}

.input-container input::placeholder, .input-img{
  color: #666360;
}

.input-container > input, .selected > input{
  flex: 1;
  background: transparent;
  border: none;
  color: #f4ede8;
  margin-left: 8px;
}
