.container{
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.content{
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.content form{
  margin: 80px auto;
  width: 340px;
  text-align: center;
}

.content h1{ 
  margin-bottom: 24px;
}

.content input{
  background: #232129;
  border-radius: 10px;
  border: 2px solid #232129;
  padding: 16px;
  width: 100%;
  color: #f4ede8;
}

.content input::placeholder{
  color: #666360;
}

.content input + input{
  margin-top: 8px;
}

.content button{
  background: #ff9000;
  height: 56px;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: #312e38;
  width: 100%;
  font-weight: 500;
  margin-top: 16px;
  transition: background-color 0.2s;
}

.content button:hover {
  background: #ff9100b0;
}

.content > form > a {
  color: #F4EDE8;
  display: block;
  margin-top: 24px;
  text-decoration: none;
  transition: color 0.2s;
}

.content > form > a:hover {
  color: #f4ede8ad;
}

.content > a{
  color: #ff9000;
  display: block;
  margin: 24px auto;
  margin-bottom: 0;
  text-decoration: none;
  transition: color 0.2s;
  display: flex;
  align-items: center;
}

.content > a > svg{
  margin-right: 16px;
}

.content > a:hover{
  color: #ff9100b0;
}

.background{
  flex: 1;
  background: url(../../assets/sign-in-background.png) no-repeat center;
  background-size: cover;
}