.forgot-container{
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.forgot-content{
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 100%;
  max-width: 700px;
  text-align: center;
  animation: toLeft 1s ease-in-out;
}

.forgot-content form{
  margin: 80px auto;
  width: 340px;
  text-align: center;
}

.forgot-content h1{ 
  margin-bottom: 24px;
}

.forgot-content > form > a {
  color: #F4EDE8;
  display: block;
  margin-top: 24px;
  text-decoration: none;
  transition: color 0.2s;
}

.forgot-content > form > a:hover {
  color: #f4ede8ad;
}

.forgot-content > a{
  color: #ff9000;
  display: block;
  margin: 24px auto;
  margin-bottom: 0;
  text-decoration: none;
  transition: color 0.2s;
  display: flex;
  align-items: center;
}

.forgot-content > a > svg{
  margin-right: 16px;
}

.forgot-content > a:hover{
  color: #ff9100b0;
}

.forgot-background{
  flex: 1;
  background: url(../../assets/sign-in-background.png) no-repeat center;
  background-size: cover;
}

@keyframes toLeft {
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}